/* Browser Style Reset and Defaults */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  font-size: 100%;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Custom Color variables defined */
:root {
  --white: #ffffff;
  --offwhite: #fafafa;
  --vlightgray: #bdbdbd;
  --black: #000000;
}

/* Mobile First ***************************************************/

body {
  background-color: var(--offwhite);
}

main {
  max-width: 375px; /* as per figma design */
  margin: 0 auto;
}

.about {
  margin-left: 20px;
  margin-right: 16px;
  margin-bottom: 56px;
}

.about h1 {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.98rem;
  color: var(--black);
  margin-top: 75px;
}

.about h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.69rem;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 32px;
}

.about p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3rem;
  color: var(--black);
  margin-top: 12px;
}

.team {
  /* 2 column layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.members {
  max-width: 178px;
  position: relative;
}

img.portrait {
  width: 78%;
  margin: 0 auto;
}

figcaption {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.313rem;
  color: var(--black);
  width: 78%;
  margin: 10px auto;
}

.title {
  font-family: "PT Serif", serif;
  font-size: 0.625rem;
  line-height: 0.828rem;
  text-transform: uppercase;
  writing-mode: vertical-lr; /* rotate text 90 degrees */
  color: var(--black);
  position: absolute;
  top: 0;
  right: 6px;
}

.members:nth-child(even) {
  margin-top: 64px; /* moves 2nd, 4th & 6th cards down */
}

/* Credit and link information at bottom */
.createdBy {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  line-height: 1.063rem;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  color: var(--vlightgray);
  margin-top: 114px;
  padding-bottom: 24px;
}
.createdBy a {
  color: var(--vlightgray);
  font-weight: 700;
  text-decoration: underline;
}

/* End Mobile First styles *******************************************/

/* Start larger display size styles **********************************/

@media (min-width: 900px) {
  main {
    max-width: 1440px; /* as per figma design */
    margin: 0 auto;
  }

  .about {
    display: grid; /* 2 column layout */
    grid-template-columns: 1fr 1fr;
    max-width: 64%;
    margin: 100px auto 96px;
  }

  .about h1 {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.98rem;
    margin-top: 0px;
  }

  .about h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.69rem;
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 40px;
  }

  .about p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.69rem;
    margin-top: 12px;
    margin-left: 40px;
  }

  .team {
    display: grid; /* 3 column layout for cards */
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 64%;
    margin: 0 auto;
  }

  .members {
    max-width: 300px;
  }

  .members:nth-child(even) {
    margin-top: 0; /* reset 2nd, 4th, & 6th cards from mobile first */
  }

  .members:nth-child(3n-1) {
    margin-top: 64px; /* moves down 2nd and 5th team cards */
  }
}
