/* Browser Style Reset and Defaults */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
  font-size: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 
color variables defined
*/
:root {
  --white: #ffffff;
  --vlightgray: #bdbdbd;

  --lightgray: #4f4f4f;
  --darkgray: #333333;
}

/* font-family: 'Poppins', sans-serif;

    font-family: 'PT Serif', serif; */

/* Credit information at bottom */
.createdBy {
  font-family: "Montserrat", serif;
  font-size: 0.875rem;
  line-height: 1.063rem;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  color: var(--vlightgray);
  margin-top: 114px;
  padding-bottom: 24px;
}
.createdBy a {
  color: var(--vlightgray);
  font-weight: 700;
  text-decoration: underline;
}

/* Mobile First ***************************************************/

main {
  max-width: 23.4rem;
  margin: 0 auto;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.members {
  max-width: 11.09rem;
  position: relative;
}

img.portrait {
  width: 78%;
  margin: 0 auto;
}

figcaption {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.313rem;
  width: 78%;
  margin: 10px auto;
}

.title {
  font-family: "PT Serif", serif;
  font-size: 0.625rem;
  line-height: 0.828rem;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  position: absolute;
  top: 0;
  right: 0.3rem;
}

.members:nth-child(even) {
  margin-top: 4rem;
}

/* End Mobile First styles *******************************************/

/* Start larger display size styles **********************************/

@media (min-width: 768px) {
  main {
    background-color: pink;
  }

  main {
    max-width: 90rem;
    margin: 0 auto;
  }

  .team {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 64%;
    margin: 0 auto;
  }

  .members {
    max-width: 11.09rem;
    position: relative;
  }

  .members:nth-child(even) {
    margin-top: 0; /* reset 2nd column margin from mobile first */
  }

  .members:nth-child(3n-1) {
    margin-top: 4rem; /* margin to position 2nd and 5th team cards */
  }
}
